.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.post {
  margin: 100px;
  width: 50dvw;
  height: 40dvh;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
}
.profile {
  position: absolute;
  top: 70%;
  left: 30%;
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.img {
  position: absolute;
  top: 10%;
  left: 37%;
}
