.container {
  width: 100dvw;
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: colum;
}

.postWrap {
  display: flex;
  flex-direction: column;
}

.img {
  width: 40dvw;
  height: 40dvh;
  border-radius: 20px;
  margin: 10px;
}
